In [3]:
# Importing pandas and numpy Libraries 
import pandas as pd
import numpy as np

In [8]:
# Working on Zomato Dataset
data = pd.read_csv('/home/nineleaps/Downloads/NineLeaps/Zomato_Dataset.csv')
data.shape

(9551, 17)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RestaurantID          9551 non-null   int64
 1   RestaurantName        9551 non-null   object
 2   CountryCode           9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   LocalityVerbose       9551 non-null   object
 7   Cuisines              9542 non-null   object
 8   Currency              9551 non-null   object
 9   Has_Table_booking     9551 non-null   object
 10  Has_Online_delivery   9551 non-null   object
 11  Is_delivering_now     9551 non-null   object
 12  Switch_to_order_menu  9551 non-null   object
 13  Price_range           9551 non-null   int64
 14  Votes                 9551 non-null   int64
 15  Average_Cost_for_two  9551 non-null   int64
 16  Rating                9551 non-null   float64
dtypes: float64(1), int64(5), object(11)
memory usage: 1.2+ MB

In [13]:
data.columns

Index(['RestaurantID', 'RestaurantName', 'CountryCode', 'City', 'Address',
       'Locality', 'LocalityVerbose', 'Cuisines', 'Currency',
       'Has_Table_booking', 'Has_Online_delivery', 'Is_delivering_now',
       'Switch_to_order_menu', 'Price_range', 'Votes', 'Average_Cost_for_two',
       'Rating'],
      dtype='object')

In [14]:
data.describe()

,RestaurantID,CountryCode,Price_range,Votes,Average_Cost_for_two,Rating
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,1.804837,156.909748,1199.210763,2.891268
std,8.791521e+06,56.750546,0.905609,430.169145,16121.183073,1.128845
min,5.300000e+01,1.000000,1.000000,0.000000,0.000000,1.000000
25%,3.019625e+05,1.000000,1.000000,5.000000,250.000000,2.500000
50%,6.004089e+06,1.000000,2.000000,31.000000,400.000000,3.200000
75%,1.835229e+07,1.000000,2.000000,131.000000,700.000000,3.700000
max,1.850065e+07,216.000000,4.000000,10934.000000,800000.000000,4.900000

In [82]:
data['RestaurantName'].nunique()

7446

In [83]:
print(data['RestaurantName'].unique())

['Le Petit Souffle' 'Izakaya Kikufuji' 'Heat - Edsa Shangri-La' ...
 'Huqqa' 'A??k Kahve' "Walter's Coffee Roastery"]

In [22]:
data['Currency'].unique()

array(['Botswana Pula(P)', 'Brazilian Real(R$)', 'Dollar($)',
       'Emirati Diram(AED)', 'Indian Rupees(Rs.)',
       'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds(?)',
       'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)',
       'Turkish Lira(TL)'], dtype=object)

In [23]:
df = data

In [24]:
df.head()

,RestaurantID,RestaurantName,CountryCode,City,Address,Locality,LocalityVerbose,Cuisines,Currency,Has_Table_booking,Has_Online_delivery,Is_delivering_now,Switch_to_order_menu,Price_range,Votes,Average_Cost_for_two,Rating
0,6317637,Le Petit Souffle,162,Makati City,Third Floor| Century City Mall| Kalayaan Avenu...,Century City Mall| Poblacion| Makati City,Century City Mall| Poblacion| Makati City| Mak...,French| Japanese| Desserts,Botswana Pula(P),Yes,No,No,No,3,314,1100,4.8
1,6304287,Izakaya Kikufuji,162,Makati City,Little Tokyo| 2277 Chino Roces Avenue| Legaspi...,Little Tokyo| Legaspi Village| Makati City,Little Tokyo| Legaspi Village| Makati City| Ma...,Japanese,Botswana Pula(P),Yes,No,No,No,3,591,1200,4.5
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,Edsa Shangri-La| 1 Garden Way| Ortigas| Mandal...,Edsa Shangri-La| Ortigas| Mandaluyong City,Edsa Shangri-La| Ortigas| Mandaluyong City| Ma...,Seafood| Asian| Filipino| Indian,Botswana Pula(P),Yes,No,No,No,4,270,4000,4.4
3,6318506,Ooma,162,Mandaluyong City,Third Floor| Mega Fashion Hall| SM Megamall| O...,SM Megamall| Ortigas| Mandaluyong City,SM Megamall| Ortigas| Mandaluyong City| Mandal...,Japanese| Sushi,Botswana Pula(P),No,No,No,No,4,365,1500,4.9
4,6314302,Sambo Kojin,162,Mandaluyong City,Third Floor| Mega Atrium| SM Megamall| Ortigas...,SM Megamall| Ortigas| Mandaluyong City,SM Megamall| Ortigas| Mandaluyong City| Mandal...,Japanese| Korean,Botswana Pula(P),Yes,No,No,No,4,229,1500,4.8

In [25]:
df.tail()

,RestaurantID,RestaurantName,CountryCode,City,Address,Locality,LocalityVerbose,Cuisines,Currency,Has_Table_booking,Has_Online_delivery,Is_delivering_now,Switch_to_order_menu,Price_range,Votes,Average_Cost_for_two,Rating
9546,5915730,Naml? Gurme,208,?stanbul,Kemanke? Karamustafa Pa?a Mahallesi| R?ht?m Ca...,Karak?y,Karak?y| ?stanbul,Turkish,Turkish Lira(TL),No,No,No,No,3,788,80,4.1
9547,5908749,Ceviz A?ac?,208,?stanbul,Ko?uyolu Mahallesi| Muhittin ?st?nda? Caddesi|...,Ko?uyolu,Ko?uyolu| ?stanbul,World Cuisine| Patisserie| Cafe,Turkish Lira(TL),No,No,No,No,3,1034,105,4.2
9548,5915807,Huqqa,208,?stanbul,Kuru?e?me Mahallesi| Muallim Naci Caddesi| No ...,Kuru?e?me,Kuru?e?me| ?stanbul,Italian| World Cuisine,Turkish Lira(TL),No,No,No,No,4,661,170,3.7
9549,5916112,A??k Kahve,208,?stanbul,Kuru?e?me Mahallesi| Muallim Naci Caddesi| No ...,Kuru?e?me,Kuru?e?me| ?stanbul,Restaurant Cafe,Turkish Lira(TL),No,No,No,No,4,901,120,4.0
9550,5927402,Walter's Coffee Roastery,208,?stanbul,Cafea?a Mahallesi| Bademalt? Sokak| No 21/B| K...,Moda,Moda| ?stanbul,Cafe,Turkish Lira(TL),No,No,No,No,2,591,55,4.0

In [26]:
df.head(2)

,RestaurantID,RestaurantName,CountryCode,City,Address,Locality,LocalityVerbose,Cuisines,Currency,Has_Table_booking,Has_Online_delivery,Is_delivering_now,Switch_to_order_menu,Price_range,Votes,Average_Cost_for_two,Rating
0,6317637,Le Petit Souffle,162,Makati City,Third Floor| Century City Mall| Kalayaan Avenu...,Century City Mall| Poblacion| Makati City,Century City Mall| Poblacion| Makati City| Mak...,French| Japanese| Desserts,Botswana Pula(P),Yes,No,No,No,3,314,1100,4.8
1,6304287,Izakaya Kikufuji,162,Makati City,Little Tokyo| 2277 Chino Roces Avenue| Legaspi...,Little Tokyo| Legaspi Village| Makati City,Little Tokyo| Legaspi Village| Makati City| Ma...,Japanese,Botswana Pula(P),Yes,No,No,No,3,591,1200,4.5

In [34]:
a = df['Average_Cost_for_two'].sum()
print(a)

11453662

In [ ]:
a = []

for item in data['City']:
    if "?" in item:
        a.append(item)
print(pd.Series(a).unique())

['Bras?lia' 'S?o Paulo' '?stanbul']

In [84]:
fix_map = {
    "Bras?lia": "Brasília",
    "S?o Paulo": "São Paulo",
    "?stanbul": "İstanbul"
}

df["City"] = df["City"].replace(fix_map)

In [55]:
df["City"].unique()

array(['Makati City', 'Mandaluyong City', 'Pasay City', 'Pasig City',
       'Quezon City', 'San Juan City', 'Santa Rosa', 'Tagaytay City',
       'Taguig City', 'Brasília', 'Rio de Janeiro', 'São Paulo', 'Albany',
       'Armidale', 'Athens', 'Augusta', 'Balingup', 'Beechworth', 'Boise',
       'Cedar Rapids/Iowa City', 'Chatham-Kent', 'Clatskanie', 'Cochrane',
       'Columbus', 'Consort', 'Dalton', 'Davenport', 'Des Moines',
       'Dicky Beach', 'Dubuque', 'East Ballina', 'Fernley', 'Flaxton',
       'Forrest', 'Gainesville', 'Hepburn Springs', 'Huskisson',
       'Inverloch', 'Lakes Entrance', 'Lakeview', 'Lincoln', 'Lorn',
       'Macedon', 'Macon', 'Mayfield', 'Mc Millan', 'Middleton Beach',
       'Miller', 'Monroe', 'Montville', 'Ojo Caliente', 'Orlando',
       'Palm Cove', 'Paynesville', 'Penola', 'Pensacola',
       'Phillip Island', 'Pocatello', 'Potrero', 'Princeton',
       'Rest of Hawaii', 'Savannah', 'Singapore', 'Sioux City',
       'Tampa Bay', 'Tanunda', 'Trentham East', 'Valdosta', 'Vernonia',
       'Victor Harbor', 'Vineland Station', 'Waterloo', 'Weirton',
       'Winchester Bay', 'Yorkton', 'Abu Dhabi', 'Dubai', 'Sharjah',
       'Agra', 'Ahmedabad', 'Allahabad', 'Amritsar', 'Aurangabad',
       'Bangalore', 'Bhopal', 'Bhubaneshwar', 'Chandigarh', 'Chennai',
       'Coimbatore', 'Dehradun', 'Faridabad', 'Ghaziabad', 'Goa',
       'Gurgaon', 'Guwahati', 'Hyderabad', 'Indore', 'Jaipur', 'Kanpur',
       'Kochi', 'Kolkata', 'Lucknow', 'Ludhiana', 'Mangalore', 'Mohali',
       'Mumbai', 'Mysore', 'Nagpur', 'Nashik', 'New Delhi', 'Noida',
       'Panchkula', 'Patna', 'Puducherry', 'Pune', 'Ranchi',
       'Secunderabad', 'Surat', 'Vadodara', 'Varanasi', 'Vizag',
       'Bandung', 'Bogor', 'Jakarta', 'Tangerang', 'Auckland',
       'Wellington City', 'Birmingham', 'Edinburgh', 'London',
       'Manchester', 'Doha', 'Cape Town', 'Inner City', 'Johannesburg',
       'Pretoria', 'Randburg', 'Sandton', 'Colombo', 'Ankara', 'İstanbul'],
      dtype=object)

In [60]:
df = df.drop(columns=['City_fixed'])

In [61]:
df.columns

Index(['RestaurantID', 'RestaurantName', 'CountryCode', 'City', 'Address',
       'Locality', 'LocalityVerbose', 'Cuisines', 'Currency',
       'Has_Table_booking', 'Has_Online_delivery', 'Is_delivering_now',
       'Switch_to_order_menu', 'Price_range', 'Votes', 'Average_Cost_for_two',
       'Rating'],
      dtype='object')

In [ ]:
df["rating_cat"] =

In [76]:
df.Rating.unique()

array([4.8, 4.5, 4.4, 4.9, 4. , 4.2, 4.3, 3.6, 4.7, 3. , 3.8, 3.7, 3.2,
       3.1, 1. , 4.1, 3.3, 4.6, 3.9, 3.4, 3.5, 2.2, 2.9, 2.4, 2.6, 2.8,
       2.1, 2.7, 2.5, 1.8, 2. , 2.3, 1.9])

In [75]:
print(df["Locality"].unique())

['Century City Mall| Poblacion| Makati City'
 'Little Tokyo| Legaspi Village| Makati City'
 'Edsa Shangri-La| Ortigas| Mandaluyong City' ... 'Ko?uyolu' 'Kuru?e?me'
 'Moda']

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RestaurantID          9551 non-null   int64
 1   RestaurantName        9551 non-null   object
 2   CountryCode           9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   LocalityVerbose       9551 non-null   object
 7   Cuisines              9542 non-null   object
 8   Currency              9551 non-null   object
 9   Has_Table_booking     9551 non-null   object
 10  Has_Online_delivery   9551 non-null   object
 11  Is_delivering_now     9551 non-null   object
 12  Switch_to_order_menu  9551 non-null   object
 13  Price_range           9551 non-null   int64
 14  Votes                 9551 non-null   int64
 15  Average_Cost_for_two  9551 non-null   int64
 16  Rating                9551 non-null   float64
dtypes: float64(1), int64(5), object(11)
memory usage: 1.2+ MB

In [70]:
df.Switch_to_order_menu.unique()

array(['No'], dtype=object)

In [72]:
df.CountryCode.unique()

array([162,  30, 216,  14,  37, 184, 214,   1,  94, 148, 215, 166, 189,
       191, 208])

In [78]:
df["rating_category"] = "Unknown"

df.loc[df["Rating"] <= 2.5, "rating_category"] = "Poor"
df.loc[(df["Rating"] > 2.5) & (df["Rating"] <= 3.5), "rating_category"] = "Average"
df.loc[(df["Rating"] > 3.5) & (df["Rating"] <= 4.5), "rating_category"] = "Good"
df.loc[df["Rating"] > 4.5, "rating_category"] = "Excellent"

In [79]:
df.columns

Index(['RestaurantID', 'RestaurantName', 'CountryCode', 'City', 'Address',
       'Locality', 'LocalityVerbose', 'Cuisines', 'Currency',
       'Has_Table_booking', 'Has_Online_delivery', 'Is_delivering_now',
       'Switch_to_order_menu', 'Price_range', 'Votes', 'Average_Cost_for_two',
       'Rating', 'rating_category'],
      dtype='object')

In [81]:
df['rating_category'].unique()

array(['Excellent', 'Good', 'Average', 'Poor'], dtype=object)

In [92]:

# 1. List all restaurants in a specific locality.
locality = "SM Megamall| Ortigas| Mandaluyong City"

result = df[df["Locality"] == locality][["RestaurantName","Rating"]]

print(result)

  RestaurantName  Rating
3           Ooma     4.9
4    Sambo Kojin     4.8
5   Din Tai Fung     4.4

In [94]:
# 2. Show the name and city of restaurants with a rating lower than 3.

df[df['Rating']<3][['RestaurantName','City']]

                    RestaurantName            City
30                   Sandubas Caf?        Brasília
58           Quiosque Chopp Brahma  Rio de Janeiro
69                Cantinho da Gula       São Paulo
77                    Divino Fog?o       São Paulo
78                     Super Grill       São Paulo
...                            ...             ...
9306  De Fontein Belgian Beer Cafe        Auckland
9337              Pepe's Piri Piri      Birmingham
9351        Damascena Coffee House      Birmingham
9498       Elite Indian Restaurant         Colombo
9507                  Queen's Cafe         Colombo

[3581 rows x 2 columns]

In [122]:
# 3. Count the number of restaurants that do not offer table booking.
a = df[df["Has_Table_booking"]=='No']["RestaurantID"].count()
print(a)

8393

In [ ]:
# 4. Display restaurants that have an average cost for two less than $50.
currency_map = {
    "Botswana Pula(P)": "BWP",
    "Brazilian Real(R$)": "BRL",
    "Dollar($)": "USD",
    "Emirati Diram(AED)": "AED",
    "Indian Rupees(Rs.)": "INR",
    "Indonesian Rupiah(IDR)": "IDR",
    "NewZealand($)": "NZD",
    "Pounds(?)": "GBP",
    "Qatari Rial(QR)": "QAR",
    "Rand(R)": "ZAR",
    "Sri Lankan Rupee(LKR)": "LKR",
    "Turkish Lira(TL)": "TRY"
}
df["Currency_Code"] = df["Currency"].map(currency_map)
exchange_to_usd = {
    "USD": 1.00,
    "BWP": 0.079,
    "BRL": 0.19,
    "AED": 0.27,
    "INR": 0.012,
    "IDR": 0.000067,
    "NZD": 0.60,
    "GBP": 1.26,
    "QAR": 0.27,
    "ZAR": 0.054,
    "LKR": 0.0031,
    "TRY": 0.052
}
df["Cost_in_USD"] = df["Average_Cost_for_two"] * df["Currency_Code"].map(exchange_to_usd)
df[df["Cost_in_USD"]<50]["RestaurantName"]

0               Le Petit Souffle
1               Izakaya Kikufuji
2         Heat - Edsa Shangri-La
3                           Ooma
4                    Sambo Kojin
                  ...
9546                 Naml? Gurme
9547                 Ceviz A?ac?
9548                       Huqqa
9549                  A??k Kahve
9550    Walter's Coffee Roastery
Name: RestaurantName, Length: 2805, dtype: object

In [98]:
# 5. Find restaurants with more than 100 votes.
df[df["Votes"]>100]['RestaurantName']

0               Le Petit Souffle
1               Izakaya Kikufuji
2         Heat - Edsa Shangri-La
3                           Ooma
4                    Sambo Kojin
                  ...
9546                 Naml? Gurme
9547                 Ceviz A?ac?
9548                       Huqqa
9549                  A??k Kahve
9550    Walter's Coffee Roastery
Name: RestaurantName, Length: 2805, dtype: object

In [100]:
# 6. List the names of restaurants offering both table booking and online delivery.

df[(df["Has_Table_booking"] == "Yes") & (df["Has_Online_delivery"] == 'Yes')]["RestaurantName"]

566                       Pizza Di Rocco
571     Cho Gao - Crowne Plaza Abu Dhabi
572                               Gazebo
578                     Indian By Nature
585                        Maharaja Bhog
                      ...
9166                             Chili's
9168                          Blue Water
9170                     Tales & Spirits
9171             18 Degrees Resto Lounge
9194                      Saffron Mantra
Name: RestaurantName, Length: 435, dtype: object

In [116]:
# 7. Show the cuisines offered by restaurants in 'Paris'.

paris_cuisines = df.loc[df["City"] == "Paris", "Cuisines"]
print(paris_cuisines)

Series([], Name: Cuisines, dtype: object)

In [ ]:

# 8. Count the number of restaurants in each price range.

df['Price_range'].value_counts()

Price_range
1    4444
2    3113
3    1408
4     586
Name: count, dtype: int64

In [123]:
# 9. Display the top 10 restaurants by rating in a specific country.
CountryCode = "1"

result = (
    df[df["CountryCode"] == CountryCode]
    [["RestaurantName", "Rating"]]
    .sort_values(by="Rating", ascending=False)
    .head(10)
)

print(result)

Empty DataFrame
Columns: [RestaurantName, Rating]
Index: []

In [125]:
# 10. List all restaurants with 'Cafe' in their cuisine type.
result = df[df["Cuisines"].str.contains("Cafe", case=False, na=False)]["RestaurantName"]
print(result)

15                   Cafe Arabelle
18      Hobing Korean Dessert Cafe
19         Wildflour Cafe + Bakery
23              Caf? Daniel Briand
30                   Sandubas Caf?
                   ...
9542                  Leman K?lt?r
9543                   Dem Karak?y
9547                   Ceviz A?ac?
9549                    A??k Kahve
9550      Walter's Coffee Roastery
Name: RestaurantName, Length: 707, dtype: object